<h1>chat</h1>

<div id="caja" class="chat-container">
    <div id="contenido" class="chat-messages">
        <ul class="message-list">
            {{#each messages.docs}}
            <li>
                <span class="user">{{user}}:</span>
                <span class="message">{{message}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="chat-input">
        <form id="messageForm">
            <input type="text" id="userInput" placeholder="Tu nombre">
            <input type="text" id="messageInput" placeholder="Escribe tu mensaje">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>